* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Original indiviualised colour and font formatting now replaced with CSS Variables */ 
/* body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h1 { 
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
} */

/* CSS Variables */
:root {
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Courier Prime", monospace;
  --primary-color: #acdef4;   /* #808080; trolley grey */
}

/* Global styles */

body {
  font-family: var(--primary-font);
} 

h1,
h2,
h3 {
  font-family: var(--secondary-font);
  color: var(--primary-color);
}