* Google Fonts Import */

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


 header {
	background-color: #68685E; /* Granite Gray */
	padding: 20px 0px; 
}
.container {
	background-color: #68685E; /* Granite Gray */
	padding: 50px 100px; 
}

/* Change page name only on navbar to electric blue and different font */
 .navbar-brand {
	font-size: 1.1em;
	font-weight: bold;
	font-family: 'Paytone One', sans-serif;
	color:#75FFFF;  /* Electric Blue */
} 

/* Change navbar headings to white font and different font */
.nav-link{
  font-family: "Montserrat", sans-serif, whatever;
  text-decoration: none;
  color: #FFF; /* White*/
  }

/* Underline and change colour to electric blue when cursor hovers over a link on Navbar */
.nav-item a:hover {
  	color: #9FF;
		text-decoration: underline;
		}

/* Slight change of colour to a lighter hue whilst a link is being clicked */
.nav-item a:active {
		color:#BBF2E5;
		}
/*
ul#nav li{
	text-align:center; 
	display:inline;
	margin: 0 70px 0 10px;
	font-size: 1.1em;
	font-weight: bold;
	font-family: 'Paytone One', sans-serif;
	color:#75FFFF;  /* Electric Blue */ 
  /* color: var(--primary-color); */
	}

	ul#nav li a {
    font-family: "Montserrat", sans-serif, whatever;
    text-decoration: none;
    color: #FFF; /* White*/
    } 

	ul#nav li a:hover {
		color: #9FF;
		text-decoration: underline;
		}
	
	/* Permanent change of colour to grey when a link has been clicked */
	ul#nav li a:visited{
	color:#999;   
	}

	/* Slight change of colour whilst a link is being clicked */
	ul#nav li a:active {
		color:#BBF2E5;
		}